footer {
    background-color: var(--black);
    color: var(--white)
}

footer a {
    color: var(--white);
}

footer .row-1 {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    gap: 1rem;
    padding: 40px 8%;
}

footer .row-1 h3 {
    margin-bottom: 1rem;
}

footer .row-1 a {
    display: block;
    line-height: 2rem;
}

footer .row-2 {
    padding: 20px 8%;
    border-top: 1px solid var(--white);
}

@media screen and (max-width:768px) {
    footer .row-1 {
        grid-template-columns:1fr;
    }
    footer .row-2 {
        flex-direction: column;
        gap: .5rem;
    }
}