.achievement-wrapper{
    background-color: var(--secondry);
    padding:40px 8%;
}

.achievement-wrapper .card{
    text-align: center;
}

.achievement-wrapper .card span{
font-size: 24px;
color:var(--primary);
}